html, body {
	background-color: #282828;
	font-family: 'Padauk', 'Arial', sans-serif;
	background-image: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('/assets/images/market1.jpeg');
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('/assets/images/market1.jpeg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	color: #fafafa;
}

.greeting {
	position: absolute;
	-webkit-transform: translate(0%, 80%);
	transform: translate(0%, 80%);
}

.greeting h1 {
	font-size: 5em;
}

#search {
	width: 100%;
	position: absolute;
	-webkit-transform: translate(0%, 85%);
	transform: translate(0%, 85%);
}

#search h3 {
	margin-bottom: 15px;
	border-bottom: 1px solid #fafafa;
}

#search p {
	margin-bottom: 30px;
	font-size: 1.2em;
}