<div class="row">
	<div class="col-md-12">
		<div class="greeting">
			<h1>Find a nearby farmer's market</h1>
			{{#link-to 'search' class="btn btn-lg btn-success"}}Lettuce get started!{{/link-to}}
		</div>
	</div>
</div>